@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin-left: 0px;
    margin-right: 0px;
}
.footer{
    background-color: #fff3f4;
    margin-top: 5px;
}
.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
}